<!DOCTYPE html>
<html>
    <head>
        <title>Noticias Recientes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static%}
        <link href="{% static 'css/bootstrap.min.css'%}" type="text/css" rel="stylesheet"> 
        <link href="{% static 'css/estilos.css'%}" type="text/css" rel="stylesheet">
        <link rel="icon" type="image/css" href="{% static 'img/'%}" width="30" height="30"> 
    </head>
    <body class="color-f2">

            <!-- barra de navegacion -->
            <nav class="navbar navbar-expand-sm navbar-light bg-light fondo-barra ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
                  <span class="navbar-toggler-icon"></span>
                   
                </button>
              
              
                <a class="navbar-brand">
                  <img src="{% static 'img/DiariosdelMundo.jpg'%}" width="50" height="50" alt="">
                </a>
              
                
          
                
          
                <div class="collapse navbar-collapse" id="opciones">   
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link color-barra" href="{% url 'pagina_principal'%}">Página principal</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link color-barra" href="#">Buscador de noticias</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link color-barra" href="#">Iniciar sesión</a>
                    </li> 
                    <li>
                        <a class=" nav-link color-barra " href="{% url 'mostrar_u'%}">mostrar usuarios</a>
                    </li>      
               
                  </ul>
                </div>
              </nav>
      <br>
      <br>


  
  
  
  
        <div class="container">
            <div class="row">                                      
                <div class="col-md col-lg col-sm col-xl">
                    <div class="card">
                        <a href="https://store.steampowered.com/app/1575730/Descending_I__House_of_Nightmares/">
                        <img class="card-img-top imagenes-Galeria" src="{% static 'img/g.jpg'%}">
                        </a>
                        <div class="card-body">
                            <h6 class="titulo">Junaeb extendio vigencia del pase escolar</h6>
                            <br>
                            <h3 class="titulo">Acerca de esta noticia</h3>



                            <p type="disk">
                                La Junta Nacional de Auxilio Escolar y Becas (Junaeb)
                                informó que la Tarjeta Nacional Estudiantil (TNE) extenderá su vigencia hasta el 31 de julio.
                                Desde el organismo señalaron que, debido a las extensas cuarentenas que ha vivido el país por el covid-19, miles de estudiantes, 
                                correspondientes a más del 70%, no han podido realizar el proceso de revalidación.
                                Por ello, desde la Junaeb informaron que los estudiantes de la Región Metropolitana que utilicen la Red Metropolitana de Movilidad (RED) 
                                deben realizar este trámite en cualquier punto Bip.
                            </p> 
                            <br>

                        </div>
                    </div>
                </div>



                

                <div class="col-md col-lg col-sm col-xl">
                    <div class="card">
                        <img class="card-img-top imagenes-Galeria" src="{% static 'img/h.jpg'%}">
                        <div class="card-body">


                            <h6 class="titulo">Así felicito el gobierno a Carabinero en el primer día de la convención</h6>
                            <br>
                            <h3 class="titulo">Acerca de esta noticia</h3>
                            <p type="disk">
                                Por momentos se puso en duda su inicio. Para ayer a las 10.00 estaba programado el acto inaugural de la Convención Constitucional. 
                                Sin embargo, eran pasadas las 11.00 y luego de un himno nacional interrumpido por un grupo de constituyentes que pedía liberar a los presos detenidos por desórdenes públicos en las manifestaciones octubre de 2019, 
                                tampoco se pudo continuar. La razón: reclamaban que afuera había familiares y amigos que, según ellos, eran “reprimidos” por Carabineros. “No puedes seguir con esto, simplemente para”, le dijo entonces la electa por la Lista del Pueblo, Elsa Labraña a la secretaria relatora del Tribunal
                                Calificador de Elecciones, Carmen Gloria Valladares, para que detuviera el inicio de la ceremonia. Al final, se logró dar inicio a la ceremonia luego de más de dos horas de retraso.
                               
                            </p>

                        </div>
                    </div>
                </div>
                
                







                <div class="col-md col-lg col-sm col-xl">
                    <div class="card">
                        <img class="card-img-top imagenes-Galeria" src="{% static 'img/j.jpg'%}">
                        <div class="card-body">
                            <h6 class="titulo">Presos del estallido social: Loncon pide "conversar el tema por tranquilidad de la Convención"</h6>
                            <br>                            
                            <h3 class="titulo">Acerca de esta noticia</h3>
                            <p type="disk">
                                La presidenta de la Convención Constitucional, Elisa Loncon, remarcó la necesidad de que el organismo analice la solicitud de un posible indulto a los presos del estallido social, aseverando que dicha instancia es 
                                "necesaria" para el correcto funcionamiento de la misma.
                                Según dijo la autoridad a minutos de empezar la primera sesión, pactada para las 15:00 horas de este lunes,
                                "somos autoridades instaladas desde nuestras colectividades", por lo cual es necesario  "conversar el tema por tranquilidad de la Convención".
                            </p>
                            <br>

                        </div>
                    </div>
                </div>  









                <div class="col-md col-lg col-sm col-xl">
                    <div class="card">
                        <img class="card-img-top imagenes-Galeria" src="{% static 'img/k.jpg'%}">
                        <div class="card-body">
                            <h6>Variante Delta de Covid-19: Gobierno cursó sumario sanitario a matrimonio de San Felipe por incumplimiento de cuarentena</h6>
                            <h3 class="titulo">Acerca de esta noticia</h3>
                            <p type="disk">
                                El pasado domingo 4 de julio el seremi de Salud de Valparaíso, George Hubner, confirmó tres nuevos casos de Covid-19 con variante Delta en el país: Un matrimonio y un menor de siete meses que viajaron desde Estados Unidos y que residen en la comuna de San Felipe.

                                Según indicaron a partir de la información preliminar, fue en el marco del protocolo a viajeros que se realiza en el aeropuerto, que se les realizaron exámenes PCR a los padres, los que arrojaron resultados negativos y se procedió a autorizar su cumplimiento de cuarentena en su domicilio.
                            <br>

                        </div>
                    </div>
                </div>  




                



                <br>

                <div class="col-md col-lg col-sm col-xl">
                    <div class="card">
                        <img class="card-img-top imagenes-Galeria" src="{% static 'img/l.jpg'%}">
                        <div class="card-body">
                            <h6 class="titulo">Las claves del segundo debate de Chile Vamos: Escasa confrontación y consensos en torno a la negativa al indulto y al aborto libre</h6>
                            <h3 class="titulo">Acerca de esta noticia</h3>
                            <p type="disk">
                                Este lunes los cuatro candidatos de Chile Vamos -Sebastián Sichel (Ind), Joaquín Lavín (UDI), Mario Desbordes (RN-PRI), e Ignacio Briones (Evópoli)- se vieron las caras nuevamente tras su debate televisado del pasado 22 de junio.

                                Una instancia radial, transmitida por ADN, Concierto, Imagina y Futuro que, a diferencia del encuentro anterior, estuvo marcado por la escasa confrontación entre los postulantes a La Moneda y la manifestación de puntos en común respecto a temas como el aborto, el proyecto de indulto a presos post estallido social, y el mencionar -en el caso de Lavín y Sichel- a la carta del PC, Daniel Jadue, como principal contendor.

                            </p>
                            <br>

                        </div>
                    </div>
                </div>  














    

                <div class="col-md col-lg col-sm col-xl">
                    <div class="card">
                        <img class="card-img-top imagenes-Galeria" src="{% static 'img/m.jpg'%}">
                        <div class="card-body">
                            <h6 class="titulo">Las claves del segundo debate de Chile Vamos: Escasa confrontación y consensos en torno a la negativa al indulto y al aborto libre</h6>
                            <h3 class="titulo">Acerca de esta noticia</h3>
                            <p type="disk">
                                Los cuatro candidatos expresaron que se oponen al proyecto de indulto a los detenidos a raíz de delitos enmarcados en el estallido social, iniciativa que además ha sido impulsada entre los convencionales, 
                                quienes el día de ayer asumieron oficialmente sus funciones como redactores de una nueva Carta Magna. De hecho, el domingo, apenas investidos como como presidenta y vicepresidente de la instancia, Elisa Loncón y Jaime Bassa anunciaron que el primer debate será sobre un eventual indulto.
 
                            </p>
                            <br>

                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <br>













        <footer >
            <div class="left col-md col-lg col-sm col-xl">
              <img id="logo-footer" src="{% static 'img/DiariosdelMundo.jpg'%}">
              <h4>Autores: Ismael Mejias</h4>
              
              <h5>Correo Electronico</h5>
              <br>
              Gmail: CaosNewsPorChile@gmail.com  
              derechos reservados &copy; 
            </div>
           
          </footer>
    </body>
</html>