<!DOCTYPE html>
<html>
    <head>
        <title>Galeria</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static%}
        <link href="{% static 'css/bootstrap.min.css'%}" type="text/css" rel="stylesheet"> 
        <link href="{% static 'css/estilos.css'%}" type="text/css" rel="stylesheet">
        <link rel="icon" type="image/css" href="{% static 'img/9fef4a51-6960-4549-9802-c9310a17944f.jpg'%}" width="30" height="30"> 
    </head>
    <body class="color-f2">

            <!-- barra de navegacion -->
            <nav class="navbar navbar-expand-sm navbar-light bg-light fondo-barra ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
                  <span class="navbar-toggler-icon"></span>
                   
                </button>
              
              
                <a class="navbar-brand">
                  <img src="{% static 'img/9fef4a51-6960-4549-9802-c9310a17944f.jpg'%}" width="50" height="50" alt="">
                </a>
              
                
          
                
          
                <div class="collapse navbar-collapse" id="opciones">   
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link " href="{% url 'quienes_somos'%}" >Quiénes somos?</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link color-barra" href="{% url 'pagina_principal'%}">Página principal</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link color-barra" href="#">Buscar</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link color-barra" href="#">Iniciar sesión</a>
                    </li> 
                    <li>
                        <a class=" nav-link color-barra " href="{% url 'mostrar_u'%}">mostrar usuarios</a>
                    </li>      
               
                  </ul>
                </div>
              </nav>
      <br>
      <br>


  
  
  
  
        <div class="container">
            <div class="row">                                      
                <div class="col-md col-lg col-sm col-xl">
                    <div class="card">
                        <a href="https://store.steampowered.com/app/1575730/Descending_I__House_of_Nightmares/">
                        <img class="card-img-top imagenes-Galeria" src="{% static 'img/GaleriaDescending.jpg'%}">
                        </a>
                        <div class="card-body">
                            <h6 class="titulo">Comprar Descending I - House of Nightmare</h6>
                            <br>
                            <p class="card-text"> 2% <s> 10.000$ </s> ahora en 8.000$</p>
                            <h3 class="titulo">Acerca de este juego</h3>



                            <p type="disk">
                                Descending es un juego de terror en RV con elementos de puzzle. 
                                Juegas como el nuevo propietario de una casa y tu objetivo es romper la maldición que se lanzó sobre la finca. 
                                Descubrirás los secretos del pasado también te enfrentarás al terror que acecha en las habitaciones. 
                                ¿Podrás sobrevivir o morirás una y otra vez?
                            </p> 
                            <br>

                            <div class="overlay">
                                <div class="texto" >
                                    requisitos del sistema
                                    <ul type="disk">
                                    
                                        <li>Requiere un procesador y un sistema operativo de 64 bits</li>
                                        <li>SO:  Windows 7, 64-bit</li>
                                        <li>Procesador:  Intel CPU Core i3</li>
                                        <li>Memoria: 4 GB de RAM</li>
                                        <li>Gráficos: Nvidia GTX 460</li>
                                        <li>DirectX: Versión 11</li>
                                        <li>Almacenamiento: 10 GB de espacio disponible</li>
      
                                    </ul>

                                    <div class="color-f2">
                                        <a href="#" class="btn warning alinear colorb">comprar </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                

                <div class="col-md col-lg col-sm col-xl">
                    <div class="card">
                        <img class="card-img-top imagenes-Galeria" src="{% static 'img/O.jpg'%}">
                        <div class="card-body">


                            <h6 class="titulo">Compra el Pack exclusivo de Outlast</h6>
                            <br>
                            <p class="card-text letras-galerias"> -20% <s>40.000$</s>ahora en 25.000$</p>
                            <h3 class="titulo">Acerca de este pack</h3>
                            <p type="disk">
                                Outlast Trinity: The Ultimate Horror Bundle. Outlast es una serie de survival horror en primera persona desarrollada por Red Barrels.
                                La aclamada franquicia está ahora disponible en un paquete completo. El paquete incluye más de 20 horas de juego aterrador en Outlast 1, Outlast Whistleblower y el nuevo Outlast 2. 
                                Los protagonistas de Outlast no tienen habilidades de combate.
                                 Deben correr, esconderse o morir. Su única arma es una videocámara que deben utilizar para capturar los horribles acontecimientos que se desarrollan a medida que avanzan en el juego. 
                               
                            </p>

                            <div class="overlay">
                                <div class="texto" >
                                    Requisitos Minimos
                                    <br>
                                    <ul type="disk">
                                        <li>Sistema Operativo: Windows XP / Vista / 7 / 8 - 64 bits *</li>
                                        <li>Procesador: 2.2 GHz Dual Core </li>
                                        <li>Memoria: 2 GB RAM.</li>
                                        <li>Tarjeta gráfica: 512 MB NVIDIA GeForce 9800GTX / ATI Radeon HD 3xxx series.</li>
                                        <li>DirectX: Versión 9.0c.</li>
                                        <li>Red: Conexión a Internet de banda ancha.</li>
                                        <li>Disco duro: 5 GB espacio disponible.</li>
                                        <li>Tarjeta de sonido: DirectX Compatible.</li>
                                    </ul>
                                    <br>
                                    <br>
                                    <div class="color-f2">
                                        <a href="#" class="btn warning alinear colorb">comprar </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                







                <div class="col-md col-lg col-sm col-xl">
                    <div class="card">
                        <img class="card-img-top imagenes-Galeria" src="{% static 'img/little nightmares .jpg'%}">
                        <div class="card-body">
                            <h6 class="titulo">Compra ya el Little Nightmares</h6>
                            <br>
                            <p class="card-text letras-galerias"> 10% <s>20.800</s> ahora en 13.900</p>
                            <h3 class="titulo">Acerca de este juego</h3>
                            <p type="disk">
                                Sumérgete en Little Nightmares, un cuento oscuro y caprichoso que te enfrentará a tus miedos infantiles. 
                                Ayuda a Six a escapar de Las Fauces, un vasto y misterioso recipiente habitado por almas corruptas que buscan su próxima comida. 
                                A medida que avanzas en tu viaje, explora la casa de muñecas más inquietante que ofrece una prisión de la que escapar y un patio de recreo lleno de secretos por descubrir. 
                                Vuelve a conectar con tu niño interior para dar rienda suelta a tu imaginación y encontrar la salida.
                            </p>
                            <br>


                            <div class="overlay">
                                <div class="texto" >
                                    <br>
                                    Requisitos del sistema
                                    <ul type="disk">
                                        <li>MÍNIMO:</li>
                                        <li>Requiere un procesador y un sistema operativo de 64 bits</li>
                                        <li>SO:  Windows 7, 64-bit</li>
                                        <li>Procesador:  Intel CPU Core i3</li>
                                        <li>Memoria: 4 GB de RAM</li>
                                        <li>Gráficos: Nvidia GTX 460</li>
                                        <li>DirectX: Versión 11</li>
                                        <li>Red: Conexión de banda ancha a Internet</li>
                                        <li>Almacenamiento: 10 GB de espacio disponible</li>
                                        <li>Notas adicionales: SSE4.2 required</li>
                                    </ul>
                                    <div class="color-f2">
                                        <a href="#" class="btn warning alinear colorb">comprar </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>  









                <div class="col-md col-lg col-sm col-xl">
                    <div class="card">
                        <img class="card-img-top imagenes-Galeria" src="{% static 'img/the forest.jpg'%}">
                        <div class="card-body">
                            <h6>Compra el The Forest</h6>
                            <p class="card-text letras-galerias">20%  <s>20.000$</s>ahora en 15.000$</p>
                            <h3 class="titulo">Acerca de este juego</h3>
                            <p type="disk">
                                Como único superviviente de un accidente de avión de pasajeros, te encuentras en un misterioso bosque luchando por seguir vivo contra una sociedad de mutantes caníbales.
                                Construye, explora y sobrevive en este terrorífico simulador de survival horror en primera persona.
                                Características principales
                                Adéntrate en un mundo vivo que respira, en el que cada árbol y cada planta pueden ser cortados. Bajo tierra, explora una vasta red de cuevas y lagos subterráneos.
                                Corta árboles para construir un campamento o enciende un fuego para mantenerte caliente. Busca comida para no morir de hambre.
                                Construye un pequeño refugio o una gran fortaleza junto al mar. Coloca trampas y defensas para mantener un perímetro seguro.
                                Explora y construye durante el día. Defiende tu base por la noche.  
                            <br>

                            <div class="overlay">
                                <div class="texto" >
                                    Requisitos del sistema
                                    <ul type="disk">
                                    <li>SO: Windows 7</li>
                                    <li>Procesador: Intel Dual-Core 2.4 GHz</li>
                                    <li>Memoria: 4 GB de RAM</li>
                                    <li>Gráficos: NVIDIA GeForce 8800GT</li>
                                    <li>DirectX: Versión 9.0</li>
                                    <li>Almacenamiento: 5 GB de espacio disponible</li>
                                    <li>Tarjeta de sonido: DirectX®-compatible</li>
                                    <li>Notas adicionales: 32bit windows users need to ensure they have at least 4gb of ram usable on their system.</li>
                                    </ul>
                                    <div class="color-f2">
                                        <a href="#" class="btn warning alinear colorb">comprar </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>  




                



                <br>

                <div class="col-md col-lg col-sm col-xl">
                    <div class="card">
                        <img class="card-img-top imagenes-Galeria" src="{% static 'img/cuphead.jpg'%}">
                        <div class="card-body">
                            <h6 class="titulo">Compra ya el Cuphead</h6>
                            <p class="card-text letras-galerias">-10% <s>13.500$</s>ahora en 9.500</p>
                            <h3 class="titulo">Acerca del juego</h3>
                            <p type="disk">
                                Cuphead es un juego de acción clásico de correr y disparar muy centrado en las batallas contra los jefes. 
                                Inspirado en los dibujos animados de los años 30, el aspecto visual y el sonido se han creado minuciosamente con las mismas técnicas de la época, es decir, animación tradicional dibujada a mano con celdas, 
                                fondos de acuarela y grabaciones originales de jazz.

                            </p>
                            <br>

                            <div class="overlay">
                                <div class="texto" >
                                    Requisitos del sistema
                                    <ul type="disk">
                                    <li>SO: Windows 7</li>
                                    <li>Procesador: Intel Core2 Duo E8400, 3.0GHz or AMD Athlon 64 X2 6000+, 3.0GHz or higher</li>
                                    <li>Memoria: 3 GB de RAM</li>
                                    <li>Gráficos: Geforce 9600 GT or AMD HD 3870 512MB or higher</li>
                                    <li>DirectX: Versión 11</li>
                                    <li>Almacenamiento: 4 GB de espacio disponible</li>
                                    </ul>

                                    <div class="color-f2">
                                        <a href="#" class="btn warning alinear colorb">comprar </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>  














    

                <div class="col-md col-lg col-sm col-xl">
                    <div class="card">
                        <img class="card-img-top imagenes-Galeria" src="{% static 'img/Dota2.jpg'%}">
                        <div class="card-body">
                            <h6 class="titulo">compra ya el Dota2 RPG</h6>
                            <p class="card-text letras-galerias"> A solo 4.000$ Añadir al carro</p>
                            <h3 class="titulo">Acerca del Juego</h3>
                            <p type="disk">
                                Cada día, millones de jugadores de todo el mundo entran en batalla como uno de los más de cien héroes de Dota. Y no importa si es su décima hora de juego o la milésima, siempre hay algo nuevo que descubrir.
                                Con actualizaciones periódicas que garantizan una evolución constante de la jugabilidad, las características y los héroes, Dota 2 ha cobrado realmente vida propia.
                                Un campo de batalla. Infinitas posibilidades.
 
                            </p>
                            <br>

                            <div class="overlay">
                                <div class="texto" >
                                    Requisitos del sistema
                                    <ul type="disk">
                                    <li>MÍNIMO:</li>
                                    <li>SO: Windows 7 or newer</li>
                                    <li>Procesador: Dual core from Intel or AMD at 2.8 GHz</li>
                                    <li>Memoria: 4 GB de RAM</li>
                                    <li>Gráficos: nVidia GeForce 8600/9600GT, ATI/AMD Radeon HD2600/3600</li>
                                    <li>DirectX: Versión 9.0c</li>
                                    <li>Red: Conexión de banda ancha a Internet</li>
                                    <li>Almacenamiento: 15 GB de espacio disponible</li>
                                    <li>Tarjeta de sonido: DirectX Compatible</li>
                                    </ul>


                                    <div class="color-f2">
                                        <a href="#" class="btn warning alinear colorb">comprar </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <br>













        <footer >
            <div class="left col-md col-lg col-sm col-xl">
                <img id="logo-footer" src="{% static 'img/9fef4a51-6960-4549-9802-c9310a17944f.jpg'%}">
                <h4>Autores: Cristobal Pardo,Daniel Landero y Ismael Mejias</h4>
            
                <h5>Redes Sociales</h5>
            
                <a href="https://www.facebook.com/Game-GTX-105894964946128"><img class="imagenes-iconos"  src="{% static 'img/facebook.png'%}" ></a>
            
                <a href="https://www.instagram.com/gamegtx/"><img class="imagenes-iconos"  src="{% static 'img/instagram.jpg'%}"> </a>
                <br>
                Gmail: Games_gtx@gmail.com  
                <br>
                Derechos reservados &copy; 2021
            </div>
        </footer>
    </body>
</html>